<link rel="import" href="../polymer/polymer.html">

<!-- mixins for shared functionality -->
<link rel="import" href="../ph-polymer-mixins/mixins-core.html">

<!--
This component is a wrapper around the MediaStreamTrack API.

@group Core Elements
@element ph-core-mediastreamtrack
@homepage https://silenthoo.github.io/ph-core-mediastreamtrack
@demo https://silenthoo.github.io/ph-core-mediastreamtrack/demo.html
-->
<polymer-element name="ph-core-mediastreamtrack" constructor="PhCoreMediaStreamTrack" attributes="">
  <script>
    (function () {
      Polymer(Polymer.mixin({
        _devices: {
          microphones: [],  // list of all available microphones
          cameras: [],      // list of all available cameras
          other: []         // list of all other available mediastream devices
        },
        _deviceCallback: function() {},

        /**
         * Returns `true` if the `MediaStreamTrack API` is supported by the current used browser. False otherwise.
         *
         * @return {Boolean} true if the browser is supported, false otherwise.
         */
        isSupported: function() {
          return typeof MediaStreamTrack !== 'undefined';
        },

        /**
         * A method which accepts a callback function which receives an unsorted list of available devices. If you want
         * to have a sorted list, please use `getDevices`.
         *
         * @see getDevices
         * @method getSources
         * @param {Function} callback function with 1 parameter that gives you an array with all the (unsorted) device sources.
         */
        getSources: function(callback) {
          if (!this.isSupported()) {
            throw new this.CoreException('Sorry, your current browser does not support the MediaStreamTrack API :(');
          }

          if (typeof MediaStreamTrack.getSources !== 'function') {
            throw new this.CoreException('Sorry, your current browser does not have `getSources()` on ' +
                                            'MediaStreamTrack API implemented :(');
          }

          MediaStreamTrack.getSources(callback);
        },

        /**
         * @callback deviceCallback
         * @param {object} devices An object containing `microphones`, `cameras` and `other` attributes which contain
         *                 an array each.
         */

        /**
         * A method which returns a categorised list of available devices to the browser. The callback will
         * be triggered if all devices are retrieved by the browser.
         *
         * @method getDevices
         * @param {deviceCallback} Will be called when the devices are retrieved by the browser.
         */
        getDevices: function(deviceCallback) {
          // @todo refactor to use promise instead of callback
          this._deviceCallback = deviceCallback;
          this.getSources(this._sortDevices.bind(this));
        },

        // ===== private methods =====

        // sorts the devices given by the Web API into three categories and
        // calls the given callback with that devices.
        _sortDevices: function(sources) {
          this._devices.microphones = [];
          this._devices.cameras = [];

          for (var i = 0; i < sources.length; i++) {
            if (sources[i].kind == 'audio') {
              this._devices.microphones.push(sources[i]);
            } else if (sources[i].kind == 'video') {
              this._devices.cameras.push(sources[i]);
            } else {
              this._devices.other.push(sources[i]);
            }
          }

          this._deviceCallback(this._devices);
        }
      }, mixinsCore));
    })();
  </script>
</polymer-element>
