:host {
  display: block; }

#audioVisualizer {
  height: 100%;
  opacity: 0.2;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

  #audioVisualizer > div {
    float: left;
    background-color: #03a9f4;
    bottom: 0px;
  }